@model AuctionApp.Models.CreateBidVm

@{
    ViewData["Title"] = "CreateBid";
}

<h1>Place New Bid</h1>

<h4>Enter the amount you want to bid</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBid">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="amount" class="control-label"></label>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@ViewContext.RouteData.Values["Id"]">Back To Auction Details</a> 
</div>

